body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}
h1 {
  font-size: 50px;
}
h2 {
  font-size: 40px;
}
#top-banner {
  background-image: url(images/images/top-banner.png);
  background-repeat: no-repeat;
  margin-bottom: 100px;
}
#dream-big {
  background-image: url(images/images/dream-bg.png);
  background-repeat: no-repeat;
  background-position: right;
}
.container {
  display: flex;
  padding: 5%;
}
.half-width {
  width: 80%;
}
.link-button {
  text-decoration: none;
  background-image: linear-gradient(orange, tomato);
  padding: 10px 40px;
  color: white;
  border-radius: 7px;
  font-weight: 700;
}
.experience-area {
  background-image: url(images/images/exp-bg.png);
  background-repeat: no-repeat;
  background-position: left;
}
.experience-item {
  width: 45%;
  margin-left: 5%;
  margin-right: 2%;
  box-shadow: 10px 10px 30px gray;
  border-radius: 10px;
  padding: 20px;
}
